doc/
run/
bin/
data/
doc/
.vscode/
.venv/
build/.cmake/
build/build.ninja
build/cmake_install.cmake
build/Makefile
tests/build/
*~
*.swp
*.vtf
*.pyc
a.out
*.so
*.dSYM/
*.o
*.i
*.s
.clang_complete
CMakeCache.txt
tests/records/temp_capture_args.gdb
gmon.out
CMakeFiles/
*.bak
*.DS_Store
._*
.ycm_extra_conf.py
compile_commands.json
source.sh
**inputs/
**outputs/

